In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics

In [2]:
PATH =  'ex1data2.txt'
df = pd.read_csv(PATH, header=None, names=['Size', 'Bedrooms', 'Price'])

df.head()

   Size  Bedrooms   Price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900

In [3]:
df.describe()

              Size   Bedrooms          Price
count    47.000000  47.000000      47.000000
mean   2000.680851   3.170213  340412.659574
std     794.702354   0.760982  125039.899586
min     852.000000   1.000000  169900.000000
25%    1432.000000   3.000000  249900.000000
50%    1888.000000   3.000000  299900.000000
75%    2269.000000   4.000000  384450.000000
max    4478.000000   5.000000  699900.000000

In [4]:
df.insert(0, 'One', 1)

In [5]:
df.head()

   One  Size  Bedrooms   Price
0    1  2104         3  399900
1    1  1600         3  329900
2    1  2400         3  369000
3    1  1416         2  232000
4    1  3000         4  539900

In [6]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

print('X shape:', X.shape)
print('Y shape:', Y.shape)

X shape: (47, 3)
Y shape: (47,)

In [7]:
def normal_equation(X, Y):
    return np.linalg.inv(X.T @ X) @ X.T @ Y

In [8]:
def normal_equation_regular(X, Y, lambd):
    regular = np.eye(X.shape[1])
    regular[0, 0] = 1
    
    return np.linalg.inv(X.T @ X + lambd * regular) @ X.T @ Y

In [26]:
weights = normal_equation_regular(X, Y.reshape(-1, 1), 0.7)
# weights = normal_equation(X, Y)

In [27]:
weights

array([[69822.79303876],
       [  139.50855561],
       [-3016.24650695]])

In [34]:
def hypothesis(weights, X):
    return X @ weights

In [35]:
predicts = hypothesis(weights, X)

In [36]:
predicts.shape

(47, 1)

In [37]:
metrics.scorer.r2_score(Y, predicts)

0.7315843445913335

In [38]:
metrics.mean_squared_error(Y, predicts)

4107381558.044796

In [39]:
np.mean(np.square(Y.reshape(-1, 1) - predicts))

4107381558.044796

In [40]:
np.sum((Y.reshape(-1, 1) - predicts) ** 2) / len(Y)

4107381558.044796