In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics

In [2]:
PATH =  'ex1data2.txt'
df = pd.read_csv(PATH, header=None, names=['Size', 'Bedrooms', 'Price'])

df.head()

   Size  Bedrooms   Price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900

In [3]:
df.describe()

              Size   Bedrooms          Price
count    47.000000  47.000000      47.000000
mean   2000.680851   3.170213  340412.659574
std     794.702354   0.760982  125039.899586
min     852.000000   1.000000  169900.000000
25%    1432.000000   3.000000  249900.000000
50%    1888.000000   3.000000  299900.000000
75%    2269.000000   4.000000  384450.000000
max    4478.000000   5.000000  699900.000000

In [4]:
df.insert(0, 'One', 1)

In [5]:
df.head()

   One  Size  Bedrooms   Price
0    1  2104         3  399900
1    1  1600         3  329900
2    1  2400         3  369000
3    1  1416         2  232000
4    1  3000         4  539900

In [6]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

print('X shape:', X.shape)
print('Y shape:', Y.shape)

X shape: (47, 3)
Y shape: (47,)

In [7]:
def normalEquation(X, Y):
    return np.linalg.pinv(X.T @ X) @ X.T @ Y

In [8]:
weights = normalEquation(X, Y.reshape(-1, 1))

In [9]:
weights

array([[89597.90954361],
       [  139.21067402],
       [-8738.01911255]])

In [31]:
def hypothesis(weights, X):
    return X @ weights

In [32]:
predicts = hypothesis(weights, X)

In [ ]:
predicts.shape

In [30]:
metrics.scorer.r2_score(Y, predicts)

0.7329450180289142

In [14]:
metrics.mean_squared_error(Y, predicts)

4086560101.2056575

In [27]:
np.mean(np.square(Y.reshape(-1, 1) - predicts))

4086560101.2056575

In [25]:
np.sum((Y.reshape(-1, 1) - predicts) ** 2) / len(Y)

4086560101.2056575

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(Y.reshape(-1, 1))

/Users/zytec/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [35]:
metrics.mean_squared_error(scaler.transform(Y.reshape(-1, 1)), scaler.transform(predicts))

/Users/zytec/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

0.26705498197108574